html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #575e5b;
}

#wrapper {
    width: 960px;
    display: block;
    /*margin: 0 auto;*/
}

.clear {
    clear: both;
}

header{
    padding: 8px;
    background-image: url('images/header-bg.png');
    background-repeat: x-repeat;
}

header h1{
    font-size: 16px;
    float: left;
    text-transform: uppercase;
}

#nav {
    float: right;
}

#nav ul{
    list-style-type: none;
    margin: 0;
}

#nav ul li{
    float: left;
    margin: 15px;
}

#searchBar{
    font-size: 14px;
    background: black;
    padding: 8px;
}

#searchBar a{
    color: lightgrey;
}


#content {
    font-size: 14px;
}

#content h1{
    font-size: 24px;
}

#archives {
    float:left;
}

#search {
    float: right;
}