*{
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62.5%;
}

#wrapper{
    box-sizing: border-box;
    width: 1280px;
    background: #EEEEEE;
    display: inline-block;
    font-size: 1.8em;
}

#container{
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: auto;
}

article{
    box-sizing: border-box;
    width: 340px;
    height: 400px;
    display: inline-block;
    background: #ffffff;
    padding: 20px;
    margin-right: 20px;
}



h2{
    margin: 15px 0;

}

article h4{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
}

article time{
    float: right;
    clear: both;
    font-size: 14px;
}

article p{
    float: left;
}

article p:first-of-type{
    font-size: 14px;
    margin: 10px 0;
    color: lightgrey;
}

article p span{
    font-weight: bold;
}

article img{
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    width: 100%;
}

.border{
    border-top: 1px solid lightgrey;
    margin: 10px 0;

}

#clearfix{
    clear: both;
}

ul{
    margin-top: 30px;
    margin-bottom: 20px;
}

ul li{
    display: inline-block;
    padding: 5px;
    background: #4BA0DB;
    border: 1px solid #ffffff;
    margin: 1px;
}


ul li:first-child{
    background: #FF9C00;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

